POSTGRES_DB=partner_catalog
POSTGRES_ADMIN_USER=catalog_app
POSTGRES_ADMIN_PASSWORD=replace_with_your_local_admin_password
POSTGRES_USER=catalog_ingestor
POSTGRES_PASSWORD=replace_with_your_local_app_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
API_BASE_URL=http://127.0.0.1:3000
API_TIMEOUT_SECONDS=10
